<!doctype html>
<html>
  <head>
    <title>Pets in Hats</title>
  </head>
  <body>
    <h1>Get ready to see an animal wearing a hat!!</h1>
  </body>
  <form method="POST">
    <H4>CHOOSE AN ANIMAL</H4>
    <br>
    <input type="radio" name="user_animal" value=""
  </form>
  #FORM METHOD GOES HERE
  #we need an option for the pets (dog, cat)
  #we need another option for type of hat (party, top hat, bucket hat)
</html>